<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title><ion-img class="logo"
      src="../../assets/img/R.png"
      alt="The Wisconsin State Capitol building in Madison, WI at night"
    ></ion-img> </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <ion-img class="sapato1"
  src="../../assets/img/image-removebg-preview (3) 1.png"
  alt="The Wisconsin State Capitol building in Madison, WI at night"
></ion-img>
  </div>
  <h1 class="summer">SUMMER COLECTIONS</h1>
  <h1 class="ano">2024</h1>
  <p class="texto">Se popularizou na década de 60, quando a Letraset lançou decalques contendo passagens de Lorem Ipsum, e mais recentemente quando passou a ser integrado </p>

  <button routerLink="/folder/inbox">GET STARTED</button>
</ion-content>

